<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


<header id="header-id">
    <h1 style="margin: 0">Hotel Manager</h1>
</header>
<div class="body">

    <h1>ERROR 404<h1></h1>
    <footer id="footer-id">
        <div class="contact">
            <a href="https://www.facebook.com/trungnguyenlk16" class="fa fa-facebook contact-box"></a>
            <a href="https://github.com/trunglk16" class="fa fa-github contact-box"></a>
            <a href="https://plus.google.com/+TrungNguy%E1%BB%85nLk16" class="fa fa-google-plus contact-box"></a>
            <a href="https://www.linkedin.com/in/trung-nguyen-50533b163/" class="fa fa-linkedin contact-box"></a>
        </div>
        <p>Project by &copy;<a href="">TrungNT</a></p>
    </footer>
</div>
</body>
</html>