<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>


<header id="header-id">
    <h1 style="margin: 0">Hotel Manager</h1>
</header>
<div class="body">
    <div class="main">
        <a th:href="@{/create-employee}">Thêm mới</a>

        <form >
            <input name="s" type="text" placeholder="Bạn muốn tìm kiếm thứ gì?"/>
            <button type="submit" value="Tìm">Tìm</button>

        </form>
        <br/>
        <th:block th:if=${message}>
            <p th:text="${message}"></p>
        </th:block>

        <h2>Danh sách nhân viên</h2>

        <table class="table" border="1">
            <tr>
                <th>Mã nhân viên</th>
                <th>Nhóm nhân viên</th>
                <th>Họ tên</th>
                <th>Giới tính</th>
                <th>Số điện thoại</th>
                <th>Chức năng</th>
            </tr>
            <th:block th:each="p,i:${employee}">
                <tr>
                    <td th:text="${p.ind}"></td>
                    <td th:text="${p.Position.position}"></td>
                    <td th:text="${p.name}"</td>
                    <td th:text="${p.Gender.gender}"</td>
                    <td th:text="${p.phone}"></td>
                    <td><a th:href="@{/edit-employee/__${p.id}__}">Edit</a>/<a th:href="@{/delete-employee/__${p.id}__}"
                                                                             onclick=" return confirm('Bạn có thực sự muỗn xóa?');">Delete</a>
                    </td>

                </tr>
            </th:block>

        </table>

        <div class="pagination-div">
             <span th:if="${employee.hasPrevious()}">
                 <a th:href="@{/(s=${search},page=${employee.number - 1},size=${employee.size})}">Previous</a>
             </span>
            <th:block th:each="i: ${#numbers.sequence(0, employee.totalPages - 1)}">
                <span th:if="${employee.number == i}" class="selected">[[${i}+1]]</span>
                <span th:unless="${employee.number == i}">
                    <a th:href="@{/(page=${i},size=${employee.size})}">[[${i}+1]]</a>
                </span>
            </th:block>
            <span th:if="${employee.hasNext()}">
                <a th:href="@{/(s=${search},page=${employee.number+1},size=${employee.size})}">Next</a>
            </span>
        </div>
    </div>
    <footer id="footer-id">
        <div class="contact">
            <a href="https://www.facebook.com/trungnguyenlk16" class="fa fa-facebook contact-box"></a>
            <a href="https://github.com/trunglk16" class="fa fa-github contact-box"></a>
            <a href="https://plus.google.com/+TrungNguy%E1%BB%85nLk16" class="fa fa-google-plus contact-box"></a>
            <a href="https://www.linkedin.com/in/trung-nguyen-50533b163/" class="fa fa-linkedin contact-box"></a>
        </div>
        <p>Project by &copy;<a href="">TrungNT</a></p>
    </footer>
</div>
</body>
</html>